.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  fill: #6180fb !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear, logo infinite 20s linear ;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg) scale(1.1);
  }
  to {
    transform: rotate(360deg) scale(1.3);
  }
} */

@keyframes logo {
  0% {
    transform: rotate(0deg) scale(1.1);
    fill: #0595a8;
    box-shadow: 0 0 3px #055ca8;
    opacity: .25;
  }
  25% {
    transform: rotate(90deg) scale(1.5);
    fill: #681a2b;
    box-shadow: 0 0 20px #19bfe8;
    opacity: .75;
  }
  50% {
    transform: rotate(180deg) scale(1);
    fill: #67a805;
    box-shadow: 0 0 20px #19bfe8;
    opacity: 1;
  }
  75% {
    transform: rotate(270deg) scale(1.5);
    fill: #0595a8;
    box-shadow: 0 0 20px #19bfe8;
    opacity: .75;
  }
  100% {
    transform: rotate(360deg) scale(1.1);
    fill: #0595a8;
    box-shadow: 0 0 3px #0592a8;
    opacity: .50;
  }
}